site_name: JaxGCRL
site_url: https://mydomain.org/mysite
theme:
  name: material
  palette:
    scheme: default
    primary: deep orange
  features:
    - content.code.copy
    - navigation.sections

plugins:
  - search

nav:
  - Overview: index.md
  - Get Started:
    - Installation: install.md
    - Basic Usage: usage.md
    - Methods: methods.md
    - Environments: environments.md

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js